<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout/layout :: head"></head>
<body>

<header th:replace="/layout/layout :: header"></header>

<div class="container py-4">
    <div class="card bg-dark text-white">
        <div class="card-header" th:text="${title}"></div>
        <div class="card-body"></div>

        <h4 class="card-title"><a class="btn btn-primary btn-xs" th:href="@{/form}">Create new client</a></h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="client : ${clients}">
                <td th:text="${client.id}"></td>
                <td th:text="${client.firstName}"></td>
                <td th:text="${client.lastName}"></td>
                <td th:text="${client.email}"></td>
                <td th:text="${client.createAt}"></td>
                <td><a class="btn btn-primary btn-xs" th:href="@{/form/} + ${client.id}" th:text="'Edit'"></a></td>
                <td><a class="btn btn-danger btn-xs" th:href="@{/delete/} + ${client.id}" th:text="'Delete'"
                       onclick="confirm('Do you want to confirm deletion?');"></a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <footer th:replace="/layout/layout :: footer"></footer>

</div>
</body>
</html>